

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date et heure
            </th>
            <th>
                Sujet
            </th>
            <th>
                Courtier
            </th>
            <th>
                Client
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.DateHour
            </td>
            <td>
                @item.Subject
            </td>
            <td>
                @item.BrokerName
            </td>
            <td>
                @item.CustomerName
            </td>
            <td>
                <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="">Voir en détail</a>
                <a class="btn btn-sm btn-warning" asp-action="Edit" asp-route-id="">Modifier</a>
                <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
